<!-- application navigation -->
<!-- add the class active to a parent li that you want to show as active -->
<template name="nav">
  <div class="navbar navbar-inverse navbar-fixed-top">
    
    <div class="navbar-inner">
      
      <div class="container">
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li><a id="btn_create_new_blank_quote" href="#">New Quote</a></li>
            <!-- <li><a href="#">Save Work</a></li> -->
            <li><a id="btn_warn_user_of_delete" href="#">Delete</a></li>
          </ul>
        </div>
      </div>
    
    </div>

    

  </div>
</template>