/* --- generic application wide styles --- */

/* --- body container --- */
#body_container {
	padding-top: 70px;
}

/* --- left nav bar --- */
#left_bar {
	background-color: #F8F8F8;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#left_bar h4 {
	border-bottom: 1px solid #D8D8D8;
	padding-bottom: 5px;
}

/* --- body ui --- */
#main_list_ui {
	padding-top: 18px;
}

/* --- total info adjustments --- */
#total_amount_info h3 {
	padding-right:60px;
}