<!-- meant to be an alert to warn a user before they do something silly? -->
<template name="warning_message">
	<div id="warn_window" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
  			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    		<h3 id="myModalLabel">Warning Fair User - This Cannot Be Reversed!</h3>
		</div>
  		<div class="modal-body">
  			<p>Are you sure you really really want to delete this quote?</p>
  			<p>Because if you are not really really sure then you could really really deprive any else using Quote Machine from seeing it again...</p>
  			<p>Really... check your conscience - what would Santa do?</p>
		</div>
  		<div class="modal-footer">
  			<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    		<button id="btn_delete_document" class="btn btn-primary">Screw Santa - Delete this thing</button>
		</div>
	</div>
</template>